@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.glow-effect {
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.glow-effect::before {
  content: '';
  position: absolute;
  top: -6px;
  left: -12px;
  right: -12px;
  bottom: -6px;
  background: linear-gradient(45deg, #f09, #3023ae, #00d2ff);
  z-index: -1;
  filter: blur(5px);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 4px;
}
.glow-effect:hover::before {
  opacity: 1;
}

/* globals.css */
.glow-green {
  box-shadow: 0 0 12px 4px rgba(34, 197, 94, 0.6), 0 0 20px 10px rgba(34, 197, 94, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}
.glow-green:hover {
  box-shadow: 0 0 18px 6px rgba(34, 197, 94, 0.9), 0 0 30px 14px rgba(34, 197, 94, 0.4);
}

/* globals.css */
.hero-backdrop {
  background: linear-gradient(180deg, #ffffff 0%, #f3f4f6 100%);
}

section {
  scroll-snap-type: y mandatory;
}
.sticky {
  scroll-snap-align: start;
}
